.fa  {
    color: #736F6F !important;
}
.tw {
    font-size: 20px !important;
}
.devider {
    margin: 7px 0;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none!important;
}
.navbar-default {
    background-color: white !important;
}
.panel-body {
    background-color: #dddddd;
}
.filler{
    height: 150px;
}
.devider-right {
    padding-right: 5px;
    border-right: 1px solid;
    border-color:  grey;
}
.mr4 {
    margin-right: 4px !important;
}
.mw810 {
    max-width: 810px;
}
.mw86 {
    max-width: 86px;
}
.text-align-center {
    text-align: center;
}
.whitetext {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.back {
    background-color: rgba(0,0,0,0.3)!important;
    width: 100%;
    height: 100%;
    padding-top: 120px !important;
    border: none;
}
