.fa  {
    color: #736F6F !important;
}
.tw {
    font-size: 20px !important;
}
.devider {
    margin: 7px 0;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none!important;
}
.navbar-default {
    background-color: white !important;
}
.panel-body {
    background-color: #dddddd;
}
.filler{
    height: 150px;
}
.devider-right {
    padding-right: 5px;
    border-right: 1px solid;
    border-color:  grey;
}
.mr4 {
    margin-right: 4px !important;
}
.mw850 {
    max-width: 850px;
}